@import 'variables.scss';

@media (min-width: 1170px){
    body{
        display: flex;
        flex-direction: column;
    }
    .header{
        .container{
            max-width: 1170px;
            margin: 0 auto;
            min-height: 128px;
            display: flex;
            .main__top_block{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items:center;
                position: relative;
                .main_logo{
                    font-size: 72px;
                    position: absolute;
                    left: -3px;
                }
                .box{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items:center;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    position: absolute;
                    left: 618px;
                    @for $i from 1 through 3{
                        .box__N#{$i}{
                            font-size: 17px;
                            padding: 0 20.5px;
                            border-right: 2px solid black;
                        }
                    }
                    .box__N4{
                        padding-left: 26px;
                    }
                }
            }
        }
    }
    .main_block_bottom{
        width: 100%;
        background: url(../logo/Rectangle.png);
        .container{
            max-width: 1170px;
            margin: 0 auto;
            overflow: hidden;
                .main__bottom_block{
                    min-height: 768px;
                    display: flex;
                    justify-content: space-between;
                    align-items:center;
                    position: relative;
                    .read_more{
                        width: 51%;
                        position: absolute;
                        top: 212px;
                        left:0px;
                        color: #fff;
                        h1{
                            font-size: 50px;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 600;
                            left: 12px;
                        }
                        p{
                            font-size: 25px;
                            position: absolute;
                            top: 102px;
                            font-family: 'Roboto', sans-serif;
                            line-height: normal;
                        }
                        .more{
                            width: 190px;
                            height: 50px;
                            border:2px solid #fff;
                            position: absolute;
                            top: 216px;
                            font-size: 20px;
                            font-weight: 600;
                            padding-right: 6px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                    .img_pizza{
                        position: absolute;
                        top: 75px;
                        left: -320px;
                        img{
                            width: 1810px;
                        }
                    }
                }
        }
    }
.review{
    background-color: #6e6e6e;
    .container{
        max-width: 1170px;
        min-height: 980px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .main_text{
            height: 325px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.65;
            .top{
                display: flex;
                position: relative;
                top: -43px;
                left: 84px;
                .text{
                    margin-left: -20px;
                    font-size: 45px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                }
                .img1{
                    left: -149px;
                }
                img{
                    width: 105px;
                    height: 30px;
                    position: absolute;
                    top: 22px;
                }
                .img2{
                    right: 50px;
                }
            }
            p{
                font-style: 25px;
                font-family: 'Roboto';
                color: #959595;
                position: relative;
                top:-44px;
                left: 32px;
            }
            .orders{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                font-family: 'Montserrat', sans-serif;
                font-weight: 900;
                font-size: 18px;
                position: relative;
                top: -10px;
                left: 0px;
                .orders_box{
                    padding:0 19px;
                }
                .orders_box:nth-child(1), .orders_box:nth-child(2), .orders_box:nth-child(3){
                    border-right:3px solid black;
                }
            }
        }
            .center{
                height: 405px;
                display: flex;
                justify-content: space-between;
                align-items:center;
                background-color: #fff;
                position: relative;
                top: -135px;
                .block{
                    width: 260px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    margin:0 55px;
                    .box{
                        display: flex;
                        position: absolute;
                        top: -142px;
                        left: 0px;
                        p{
                            position: absolute;
                            top: -10px;
                            left:-7px;
                            font-size: 120px;
                            font-family: 'Roboto';
                            text-transform: uppercase;
                            font-weight: 900;
                        }
                        .box_p-N2{
                            left: -3px;
                        }
                        .box_p-N3{
                            left: 0px;
                        }
                        img{
                            position: absolute;
                            top: 30px;
                        }
                        .Layer1{
                            left: 64px;
                        }
                        .Layer2{
                            left: 85px;
                        }
                        .Layer3{
                            top: 33px;
                            left:97px;
                        }
                    }
                    .block__text{
                        font-family: 'Montserrat';
                        font-weight:900;
                        font-size: 45px;
                        display: flex;
                        align-items:center;
                        position: absolute;
                        top: 10px;
                        left: -1.5px;
                    }
                    p{
                        font-size: 18px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        line-height: 1.333;
                        position: absolute;
                        top: 75px;
                    }
                }
                .block:nth-child(2){
                    position :relative;
                    left: -18px;
                }
                .block:nth-child(3){
                    position: relative;
                    left: -13px;
                }
            }
            .Vector{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    position: absolute;
                    top: -149px;
                    left: 350px;
                }
                p{
                    position: absolute;
                    top: -118px;
                    left: 404px;
                    color: #fff;
                    font-size: 30px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                }
            }
        }
    }
    .footer{
        width: 100%;
        min-height: 105px;
        background: url(../logo/Rectangle_bottom.png);
        position: relative;
        .container{
            max-width: 1170px;
            color: #fff;
            position: absolute;
            top: -8px;
            left: 418px;
            p{
                font-size: 20px;
                line-height: 6;
                font-family: 'Roboto';
                font-weight: 400;
            }
        }
    }
} 